.ContentCard {
    height: 10em;
    /* width: 50em; */
    margin: 5em auto;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2.5em;
}

.CardTitle {
    padding-bottom: 1em;
    font-size: 1.75em !important;
}

.CardText {
    padding-bottom: 1em;
    padding-right: 4em;
    padding-left: 4em;
    font-size: 1.25em !important;
}

.CardHeader {
    background-color: transparent !important;
    border: none !important;
    color: rgb(164, 164, 164) !important;
}

.CardFooter {
    background-color: transparent !important;
    border: none !important;
}

/* .CardButton {
    padding: 2em;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
} */

/* background-color: rgb(50, 113, 248); */

button {
    position: relative;
    background-color: rgb(50, 113, 248);
    border-radius: 5px;
    box-shadow: rgb(18, 39, 121) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    content: "";
    background-color: rgb(50, 113, 248);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
}

button:hover::before {
    width: 100%;
}