.Navigation {
    padding: 0.4em !important;
    padding-left: 6em !important;
    background-color: #f9fbfe !important;
    text-transform: uppercase !important;
    font-size: .75em !important;
    font-weight: bold;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;

}

.nav-link {
    color: rgba(0, 0, 0, 0.725) !important;
}

.AuthLinks {
    justify-content: flex-end !important;
}