.Navigation {
    padding: 0.75em !important;
    padding-left: 6em !important;
    background-color: #f1f3f7 !important;
    text-transform: uppercase !important;
    font-size: 1em !important;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;

}

.nav-link {
    color: rgba(0, 0, 0, 0.725) !important;
}

.AuthLinks {
    justify-content: flex-end !important;
}