.Footer {
    width: 100%;
    padding: 2.5em;
    margin-top: 6.5em;
    margin-right: 3em;
    background-color: #191919;
    color: white;
    font-size: 2em;
}

.Footer h1 {
    margin-bottom: 1em;
}

.Footer p {
    font-size: 0.65em;
    font-weight: 250
}

.FooterEmail {
    color: rgb(155, 154, 154)
}

.logo {
    width: 200px;
    height: 200px;
}