.Footer {
    height: 10em;
    width: 100%;
    padding: 3em;
    margin-right: 5em;
    background-color: #191919;
    color: white;
    font-size: 2em;
    left: 0;
    bottom: 0;
    position: relative;
    line-height: 2em;
}