.Footer {
    width: 100vw;
    padding: 5em;
    margin-top: 3.5em;
    background-color: #191919;
    color: white;
}

.Footer h1 {
	font-size: 2em;
    margin-bottom: 1em;
}

.Footer p {
    font-size: 1.2em;
    font-weight: 250
}

.FooterEmail {
    color: rgb(155, 154, 154)
}

.logo {
    width: 200px;
    height: 200px;
}

@media screen and (width <= 767px) {
.Footer {
		text-align: center;
	}
}

@media screen and (width <= 480px ){
	
	.Footer p {
			font-size: .9em;
		}
}