/* global settings */

body {
    letter-spacing: 1px;
    /* letter-spacing: .1em; */
    padding-top: 12em;
}

.fullw {
	padding: 0 !important;
}

.section-header {
	margin-bottom: 4em;
}

.PageHeading {
    font-size: 2.9em;
    text-align: center;
}

.PageSubHeading {
	font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
    color: #0070f3;
}

.modal {
    padding: 5em;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 15px;
}

.typed {
	font-size: 1.3em;
}

/* home page settings  */

/* 
.columnRight {
    text-align: right !important;
    margin-left: 10em;
    margin-right: 5em;
} */

/* .columnLeft {
    text-align: left !important;
    margin-right: 10em;

} */

.mockupImage {
    width: 15em;
    height: 15em;
}

.FeaturesHeading {
    font-size: 4em;
    line-height: 1.5 ;
}

.FeaturesSubHeading {
    font-size: 2.5em;
    line-height: 1.5;
    color: black;
}

.FeaturesSubHeading2 {
    font-size: 2.5em;
    line-height: 2;
    color: #0070f3;
}


/* card settings */

.ContentCard {
	width:90%;
	margin: 3em auto;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2em;
}

.CommunityCard{
    padding: 2em 1em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 1.5em;
}

.CardHeader {
    background-color: transparent !important;
    border: none !important;
}

.CardTitle {
    font-size: 1.75em !important;
    margin-top: 1em !important;
}

.CardText {
    font-size: 1.1em !important;
    color: rgb(72, 72, 72);
    font-weight: 500;
}

.CardFooter {
    background-color: transparent !important;
    border: none !important;
}

.CardResponse {
    color: gray;
    font-style: italic;
	font-size: 1em;

}

.plainText {
	font-size: .8em;
}

.userAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.userAvatar2 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

/* buttons settings */

.socialActionButton {
    border: none;
	font-size: .9em;
    font-weight: bold;
    background: none;
    letter-spacing: 1px;
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: rgba(0, 118, 255, 0.9);
}

.callToAction {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.callToAction:hover {
    background-color: #374151;
}

/* carousel settings*/

.card {
    background-color: white !important;
    color: #000 !important;
}

/* tag settings */

.categoryTag {
    padding: 1em !important;
	letter-spacing: 0;
    background-color: #f1f3f7;
	font-size: .9em;
    color: black !important;
    border: none;
    border-radius: 0.8em;
    font-weight: 350;
    transition: hover ease .4s;
}

.categoryTagSelected {
	letter-spacing: 0;
    padding: 1em !important;
	font-size: .9em;
    background-color: rgba(0, 113, 243, 0.886);
    color: white !important;
    border: none;
    border-radius: 0.8em;
	font-weight: 350;
    transition: hover ease 4s;

}

.categoryTagSelected:hover {
	letter-spacing: 0;
    background-color: rgba(0, 113, 243, 0.886);
    cursor: pointer
}

.categoryTag:hover {
	letter-spacing: 0;
    background-color: #e1e3e7;
    cursor: pointer
}

.dojoQuestion {
    padding: 1.5em !important;
    margin-bottom: 3em;
    color: black !important;
    border: none;
    border-radius: 0.8em;
    /* background-color: #ffffff89; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* form settings */

.CommentForm {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    height: 7.5em !important;
    padding-top: 2.5em !important;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: black !important;
    --bs-body-bg: none
}

.alert-danger {
    background-color: white !important;
    border: none !important;
}

.full-spinner {
	display: flex;
	justify-content: center;
}

@media screen and (width <=720px) {
	body {
		letter-spacing: 0.1em;
		padding-top: 10em;
	}

	.userAvatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
	}

	.FeaturesHeading {
		font-size: 3em;
		line-height: 1.2;
	}

	.FeaturesSubHeading {
		font-size: 2em;
		line-height: 1.2;
	}

	.FeaturesSubHeading2 {
		font-size: 2em;
		line-height: 1.5;
	}
}