/* global settings */

body {
    /* padding-top: 15em; */
    letter-spacing: 0.1em;
}

img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover
}

.PageContainer {
    padding-top: 15em;
    margin-left: 15em;
    /* background-color: red; */
}

.PageSubHeading {
    color: #0070f3;
}

.modal {
    padding: 5em;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 15px;
}


/* card settings */

.ContentCard {
    height: 10em;
    width: 50em;
    margin: 5em auto;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2.5em;
}

.CommunityCard {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2.5em;
}

.CardHeader {
    background-color: transparent !important;
    border: none !important;
    color: rgb(164, 164, 164) !important;
}

.CardTitle {
    padding-bottom: 1em;
    font-size: 1.75em !important;
}

.CardText {
    padding-bottom: 1em;
    padding-right: 4em;
    padding-left: 4em;
    font-size: 1.25em !important;
}

.CardFooter {
    background-color: transparent !important;
    border: none !important;
}

/* buttons settings */

.socialActionButton {
    border: none;
    font-weight: bold;
    background: none;
    letter-spacing: 0.1em;
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: rgba(0, 118, 255, 0.9);
}

.callToAction {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

.callToAction:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

/* home animamtion */

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 2s steps(40, end) forwards;
    white-space: nowrap;
    border-right: 2px solid #000;
    padding-right: 8px;
}