/* global settings */

body {
    letter-spacing: 0.1em;
    padding-top: 15em;
}

.PageHeading {
    font-size: 5em;
    text-align: center;
}

.PageSubHeading {
    text-align: center;
    margin-top: 1em;
    color: #0070f3;
}

.modal {
    padding: 5em;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 15px;
}

/* home page animation  */

@keyframes typing {
    from {
        width: 0;
        border-right-width: 0;
        /* Start with no border */
    }

    to {
        width: 35%;
        border-right-width: 1.75px;
        /* Reach 35% width and add the border */
    }
}

@keyframes border-blink {

    0%,
    100% {
        border-color: transparent;
        /* Hide the border */
    }

    50% {
        border-color: #00000080;
        /* Show the border */
    }
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 2.5s steps(40, end) forwards, border-blink 0.75s infinite alternate;
    white-space: nowrap;
    border-right: 2px solid #00000080;
    padding-right: 3px;
}

@keyframes typing-delay {
    to {
        width: 0;
    }
}

/* home page settings  */


.columnRight {
    text-align: right !important;
    margin-left: 10em;
    margin-right: 5em;
    /* background-color: blue; */
}

.columnLeft {
    text-align: left !important;
    margin-right: 10em;
    /* background-color: red; */
}

.mockupImage {
    width: 15em;
    height: 15em;
}

.FeaturesHeading {
    font-size: 4em;
    line-height: 2;
}

.FeaturesSubHeading {
    font-size: 2.5em;
    line-height: 2;
    color: black;
}

.FeaturesSubHeading2 {
    font-size: 2.5em;
    line-height: 2;
    color: #0070f3;
}


/* card settings */

.ContentCard {
    /* height: 10em; */
    width: 50%;
    margin: 5em auto;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2.5em;
}

.CommunityCard {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    line-height: 2.5em;
}

.CardHeader {
    background-color: transparent !important;
    border: none !important;
}

.CardTitle {
    font-size: 1.75em !important;
    margin-top: 1em !important;
}

.CardText {
    padding-right: 2em;
    padding-left: 2em;
    font-size: 1.25em !important;
    color: gray;
    font-weight: 500;
}

.CardFooter {
    background-color: transparent !important;
    border: none !important;
}

.CardResponse {
    color: gray;
    font-style: italic;
    font-weight: bold;
}

.plainText {
    line-height: 2.5em;
}

.userAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* buttons settings */

.socialActionButton {
    border: none;
    font-weight: bold;
    background: none;
    letter-spacing: 0.1em;
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: rgba(0, 118, 255, 0.9);
}

.callToAction {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.callToAction:hover {
    background-color: #374151;
}

/* carousel settings*/

.card {
    background-color: white !important;
    color: #000 !important;
}

/* tag settings */

.categoryTag {
    padding: 1em !important;
    background-color: #f1f3f7;
    color: black !important;
    border: none;
    border-radius: 0.8em;
    /* font-weight: bold; */
    font-weight: 350;
    transition: hover ease .4s;
}

.categoryTagSelected {
    padding: 1em !important;
    /* background-color: rgba(0, 118, 255, 0.7); */
    background-color: rgba(0, 113, 243, 0.886);
    color: white !important;
    border: none;
    border-radius: 0.8em;
    /* font-weight: bold; */
    transition: hover ease 4s;

}

.categoryTagSelected:hover {
    /* background-color: rgba(8, 113, 234, 0.7); */
    background-color: rgba(0, 113, 243, 0.886);
    cursor: pointer
}

.categoryTag:hover {
    background-color: #e1e3e7;
    cursor: pointer
}

.dojoQuestion {
    padding: 1.5em !important;
    margin-bottom: 3em;
    color: black !important;
    border: none;
    border-radius: 0.8em;
    /* background-color: #ffffff89; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* form settings */

.CommentForm {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    height: 7.5em !important;
    padding-top: 2.5em !important;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: black !important;
    --bs-body-bg: none
}

.alert-danger {
    background-color: white !important;
    border: none !important;
}